/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0c0c0c;
    color: #0000005d;
    line-height: 1.6;
    padding: 20px;
}

/* Container principal */
.main {
    max-width: 900px;
    margin: 0 auto;
    background: #1dc4c4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Imagem principal */
.main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Títulos */
.main h1 {
    font-size: 2.5rem;
    color: #0004ff;
    margin-bottom: 10px;
}

.main h2 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 20px;
}

/* Descrição */
.description p {
    font-size: 1.1rem;
    color: #000000;
    text-align: left;
    padding: 20px;
}

/* Iframes */
iframe {
    margin: 10px 0;
    border-radius: 8px;
}

/* Mapa ajustado */
body > iframe:last-of-type {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    border: 4px solid #0080ff;
    border-radius: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #a7cdf3;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 8px;
}

footer a {
    color: #003cff;
    text-decoration: underline;
    margin-left: 5px;
}

footer a:hover {
    color: #3350af;
}
